
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  width: 100%;
  height: 100%;
}
body {
  background-color: #003669;
  font-family:Reddit mono;
    min-width: fit-content;
    width: 100%;
    overflow-x: hidden;
}
@font-face {
  font-family: Andale mono;
  src: url(font/andale-mono-2.zip);
}
.top, .skills, .project-heading {
  scroll-snap-align: start;
}
.hamburger-menu{
  display: none;
}
nav {
  width: auto;
  top: 0;
}
nav hr {
  margin-top: -10px;
  border-color: #F4C931;
}
ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 0;
}
li {
  list-style-type: none;
}
li a {
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:after {
  content: "";
  position: absolute;
  background: #F4C931;
  height: 2px;
  width: 0;
  left: 2;
  bottom: -10px;
  transition: 0.5s;
}
.left-nav a:hover:after,
.right-nav a:hover:after {
  width: 100%;
}
li:first-child {
  margin-right: auto;
}
.left-nav {
  order: 1;
  margin-left: auto;
}
.logo {
  width: 12vw;

  order: 2;
  z-index: 1000;
  margin: auto;
}
.right-nav {
  order: 3;
  margin-right: auto;
}
.social-icon {
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
}
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-portrait {
  width: 27vw;
  height: 75vh;
  object-fit: contain;
  margin-top: 2vh;
  margin-left: 9vw;
}
.portrait-container {
  height: 100%;
  overflow-x: hidden;
  
}
.home {
  display: flex;
  flex-direction: row;
  margin-left: 11vh;
}
.home-about {
  margin-left: 4vw;
  font-size: 28px;
  color: white;
  display: flex;
  flex-direction: column;
}
.about-box {
  font-size: 20px;
  width: 450px;
  word-spacing: 7px;
  line-height: 35px;
}
.about-link {
  font-size: 25px;
  color: #F4C931;
  text-decoration: underline;
}
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-content: center;
  color: white;
  font-size: 28px;
  margin-top: 11em;
  margin-left: 1em;
  height: 100vh;
  gap: 5vw;
}
.skills-other {
  margin-left: -9em;
  margin-top: 9em;
}
.skills-other h2 {
  transform: rotate(90deg);
  margin-top: 4em;
}
.icons-main {
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.icons-other {
  display: flex;
  flex-direction: row;
  margin-top: -14em;
  margin-left: 12em;
}
.html-main, .css-main, .javascript-main {
  width: 64px;
  height: 64px;
  padding: 5px;
}
.photoshop-other, .lightroom-other, .premiere-other {
  width: 84px;
  height: 84px;
  padding: 5px;
}
.main-bar-container {
  background-color: white;
  width: 80%;
  border-radius: 15px;
  height: 29px;
}
.skill-html, .skill-css, .skill-javascript {
  background-color: #F4C931;
  color: white;
  padding: 1%;
  padding-left: 10px;
  border-radius: 15px;
  height: 29px;
}
.skill-html {
  width: 80%;
}
.skill-css {
  width: 80%;
}
.skill-javascript {
  width: 40%;
}
.main-icon-container {
  padding-top: 13px;
  display: flex;
  align-items: center;
}
.skill-ph, .skill-lr, .skill-pr {
  background-color: #F4C931;
  color: white;
  padding: 1%;
  border-radius: 15px;
  height: 33px;
}
.other-bar-container {
  background-color: white;
  width: 250%;
  border-radius: 15px;
  height: 33px;
  margin-top: 4em;
  transform: rotate(90deg);
}
.other-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
.skill-ph {
  width: 80%;
}
.skill-lr {
  width: 80%;
}
.skill-pr {
  width: 40%;
}
.skills {
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
.project-card-img {
  height: 20vw;
  width: 30vw;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.5s ease;
}
.left-project-card-column {
  display: flex;
  flex-direction: column;
}
.right-project-card-column {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  
}
.sidebar li{
  display: none;
}
.projects {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}
.project-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 63vh;
  margin-bottom: 20vh;
  overflow-x: hidden visible;
}
.project-heading {
  color: white;
  font-size: 4vw;
  margin-left: 37vw;
  padding-top: 20vh;
}
.project-heading-2 {
  color: white;
  font-size: 4vw;
  padding-top: 30vh;
}
.project-heading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.project-card-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2vh;
}
.project-card:hover .project-card-text {
  opacity: 1;
}
.project-card-text h4 {
  color: #F4C931;
  font-size: 3vh;
  padding-bottom: 1vh;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}
.project-card-language-bar-container p {
  color: black;
  font-weight: bold;
  background: #F4C931;
  border-radius: 50px;
  padding: 5px;
}
.project-card-language-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  padding-top: 2vh;
}
.more-project-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-project-container h2{
  color: white;
  font-size: 3vw;
  margin-bottom: 2vh;
}
.project-page-link {
  padding-top: -79px;
  padding-bottom: 145px;
  font-size: 2vw;
}
.project-link:hover {
  color: #F4C931;
  transition: 50ms ease-in-out;
}
footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  background: black;
  overflow-x: hidden;
}
footer a:hover {
  color: #F4C931;
  transition: 50ms ease;
}
.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3em;
  word-spacing: 50px;
}
.footer-social h1 {
  color: white;
  text-decoration: underline #F4C931;
}
.footer-email {
  color: white;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 9vh;
  padding-top: 2.5em;
  margin-left: 3em;
}
.footer-mentions{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  padding: 20px;
  font-size: 12px;
}
footer .footer-social a {
  margin: 10px;
}
.about-nav {
  width: 100%;
  top: 0;
}
.about-ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 0;
}
.about-li {
  margin: auto;
}
.about-li a {
  font-size: 30px;
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 50vw;
}
.about-a:after {
  content: "";
  position: absolute;
  background: #F4C931;
  height: 2px;
  width: 0;
  left: 2;
  bottom: -10px;
  transition: 0.5s;
}
.about-a:hover::after {
  width: 100%;
}
.logo-about {
  width: 12vw;
  margin-left: 6vw;
}
.aboutme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13vh;
}
.aboutme-container h2, p {
  color: white;
}
.aboutme-container h2 {
  font-size: 5vw;
  margin-left: -36vw;
  padding-bottom: 9vw;
}
.aboutme-container p {
  width: 60vw;
  font-size: 1.5vw;
}
.playlist-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.playlist-img {
  height: 30vh;
  width: 25vw;
  margin: auto;
  border-radius: 5px;
  padding-top: 20px;
  object-fit: cover;
}
.playlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.playlist-container h1 {
  color: white;
  font-size: 4vw;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.playlist-container h3 {
  color: #F4C931;
}
.playlist-text {
  width: 40vw;
  padding: 50px;
}
@media(min-width:1600px){
  .home-portrait{
    margin-left:12vw ;
  }
}
@media (max-width: 1025px) {
  html {
    scroll-snap-type: none;
  }
  .logo{
    width: 17vw;
  }
  .logo-about{
    width: 17vw;
    margin-left: 2vw;
  }
  .project-heading-2{
    font-size: 7vw;
    margin-left: 8vw;
    padding-top: 12vh;
  }
  .playlist-img{
    width: 50vw;
  }
  .playlist-text{
    width: 60vw;
  }
  .aboutme-container h2{
    font-size: 8vw;
  }
  .playlist-container h1{
    font-size: 8vw;
  }
  .about-li a{
    font-size: 30px;
  }
  .home-portrait{
    width: 35vw;
    height: 60vh;
    margin-left: 10vw
  }
  .home{
    margin-left: 7vh;
  }
  .project-heading {
    color: white;
    font-size: 8vw;
    margin-left: 25vw;
    padding-top: 20vh;
  }
  .projects {
    margin-top: -8vh;
  }
  .project-card-img {
    height: 28vw;
    width: 42vw;
  }
  .playlist-child{
    flex-direction: column;
    width: 50vw;
  }
  .project-page-link {
    font-size: 4vw;
    padding-top: -79px;
    padding-bottom: 145px;
  }
  .footer-email {
    font-size: 3vw;
    margin-top: -1vh;
    margin-left: 4vw;
    padding: 20px;
  }
  .footer-social a {
    font-size: 3vw;
  }
  .footer-social h1 {
    margin-top: -6vh;
    margin-right: -34vw;
  }
  .skills {
    height: 50vh;
  }
  .about-li a {
    margin-right: -1vw;
  }
}

@media(max-width:431px){
  body{
    overflow-x: hidden;
    min-width: fit-content;
    width: 100%;
    overflow-x: hidden;
  }
  nav hr{
    margin-top: 2vh;
  }
  .left-nav, .right-nav{
    display: none;
  }
  .logo{
    width: 150px;
    height: 157px;
    margin-top: 0.5vh;
    margin-left: 50vw;
  }
  :root {
    --bar-width: 100px;
    --bar-height: 12px;
    --hamburger-gap: 8px;
    --foreground: #F4C931;
    --background: white;
    --hamburger-margin: 40px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }
  
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
  
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: 67px;
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
  }
  
  .hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
  }
  
  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }
  
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }
  
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  
  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }
  
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }
  
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
  
  .sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color:#003669;
    color: var(--background);
    max-width: 31rem;
    min-height: 100vh;
  }
  .sidebar li{
    display:flex ;
    flex-direction: column;
  }
  .sidebar nav li a{
    font-size: 10vw ;
    margin: 10px;
  }
  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }
  .home{
   flex-direction: column;
    margin-top: -92vh;
    margin-left: 7vw;
  }
  .home-socials{
    display: none;
  }
  .home-portrait{
    width: 80vw;
    height: 75vh;
  }
  .skills-other{
    margin-top: 35vh;
  }

  .skills-main{
    margin-top: 25vh;
  }
  .project-heading-2{
    font-size: 10vw;
    margin-bottom: 50vh;
  }
  .project-heading{
    font-size: 10vw;
    margin-top: 15vh;
    margin-left: 27vw;
  }
  .projects{
    transform: scale(200%);
    flex-direction: column;
    gap: 0vh;
    margin-top: 20vh;
    margin-bottom: 10vh;
  }
  .project-card-text{
    font-size: 3vw;
    padding: 10px;
  }
  .project-card-text h4{
    font-size: 4vw;
  }
  .project-card-img{
    height: 33vw;
    width: 43vw;
  }
  footer{
    flex-direction: column;
    height: 300px;
  }
  .footer-email{
    font-size: 6vw;
    margin: auto;
    width: fit-content;
  }
  .footer-social {
    margin: auto;
    padding-top: 2vh;
   flex-direction: column;
  }
  .footer-social h1{
    margin: 0;
    font-size: 10vw;
  }
  .footer-social a {
    line-height: 15px;
    font-size: 7vw;
  }
  .about-li a {
    font-size: 35px;
    color: white;
    margin-left: 0vw;
  }
  .logo-about{
    width: 30vw;
    margin-left: 0vw;
    margin-right: 0;

  }
  .aboutme-container h2 {
    font-size: 10vw;
    margin-left: -12vw;
    padding-bottom: 9vw;
  }
  .playlist-container h1{
    font-size: 10vw;
  }
  .project-container{
    margin-bottom: 63vh;
    margin-top: 35vh;

  }
  .right-project-card-column{
    margin-top: 0vh;
    overflow-x: hidden;
  }
  .playlist-child{
    flex-direction: column;
    justify-content: center;
    width: 70vw;
  }
  .playlist-img{
    width: 70vw;
    height: 22vh;
  }
  .playlist-text{
    width: 96vw;
  }
  .project-link{
    font-size: 8vw;
  }
  .more-project-container h2{
    font-size: 5vw;
  }
}